## **PROCESO DE ETL**
### PARA EL DATASET *Telefonia_movil*

--- --- ---

#### **CARGA DE DATOS**

In [1]:
import pandas as pd

In [4]:
dataset_xlsx = pd.ExcelFile('datasets\Telefonia_movil.xlsx')

In [21]:
df_sms = pd.read_excel(dataset_xlsx, sheet_name='SMS')
df_llamadas_salientes = pd.read_excel(dataset_xlsx, sheet_name='Llamadas salientes')
df_minutos_salientes = pd.read_excel(dataset_xlsx, sheet_name='Minutos salientes')
df_ingresos = pd.read_excel(dataset_xlsx, sheet_name='Ingresos')
df_penetracion = pd.read_excel(dataset_xlsx, sheet_name='Penetracion')
df_accesos = pd.read_excel(dataset_xlsx, sheet_name='Accesos')

---

### **``df_sms``**: número de SMS salientes

In [20]:
df_sms.info()
df_sms.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45 entries, 0 to 44
Data columns (total 4 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Año                      45 non-null     int64
 1   Trimestre                45 non-null     int64
 2   Número de SMS salientes  45 non-null     int64
 3   Periodo                  45 non-null     object
dtypes: int64(3), object(1)
memory usage: 1.5+ KB

               Año  Trimestre  Número de SMS salientes
count    45.000000  45.000000             4.500000e+01
mean   2018.133333   2.466667             7.505560e+09
std       3.286335   1.140175             9.132245e+09
min    2013.000000   1.000000             4.940139e+08
25%    2015.000000   1.000000             1.061014e+09
50%    2018.000000   2.000000             3.939633e+09
75%    2021.000000   3.000000             1.058803e+10
max    2024.000000   4.000000             3.643000e+10

### **``df_llamadas_salientes``**: Cantidad de minutos consumidos en llamadas salientes.

In [19]:
df_llamadas_salientes.info()
df_llamadas_salientes.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45 entries, 0 to 44
Data columns (total 6 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   Año                                  45 non-null     int64
 1   Trimestre                            45 non-null     int64
 2   Llamadas pospago salientes (miles)   45 non-null     float64
 3   Llamadas prepago salientes (miles)   45 non-null     float64
 4   Total de llamadas salientes (miles)  45 non-null     float64
 5   Periodo                              45 non-null     object
dtypes: float64(3), int64(2), object(1)
memory usage: 2.2+ KB

,Año,Trimestre,Llamadas pospago salientes (miles),Llamadas prepago salientes (miles),Total de llamadas salientes (miles)
count,45.000000,45.000000,4.500000e+01,4.500000e+01,4.500000e+01
mean,2018.133333,2.466667,4.503713e+06,2.671145e+06,7.174858e+06
std,3.286335,1.140175,6.713795e+05,1.214251e+06,1.657105e+06
min,2013.000000,1.000000,3.032454e+06,1.023503e+06,4.093315e+06
25%,2015.000000,1.000000,4.123397e+06,1.353625e+06,5.585383e+06
50%,2018.000000,2.000000,4.602640e+06,2.639039e+06,7.601121e+06
75%,2021.000000,3.000000,4.990885e+06,3.814925e+06,8.315290e+06
max,2024.000000,4.000000,5.977412e+06,4.799840e+06,9.815691e+06

### **``df_minutos_salientes``**: Cantidad de minutos consumidos en llamadas salientes.

In [18]:
df_minutos_salientes.info()
df_minutos_salientes.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45 entries, 0 to 44
Data columns (total 6 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   Año                                 45 non-null     int64
 1   Trimestre                           45 non-null     int64
 2   Minutos pospago salientes (miles)   45 non-null     float64
 3   Minutos prepago salientes (miles)   45 non-null     float64
 4   Total de minutos salientes (miles)  45 non-null     float64
 5   Periodo                             45 non-null     object
dtypes: float64(3), int64(2), object(1)
memory usage: 2.2+ KB

,Año,Trimestre,Minutos pospago salientes (miles),Minutos prepago salientes (miles),Total de minutos salientes (miles)
count,45.000000,45.000000,4.500000e+01,4.500000e+01,4.500000e+01
mean,2018.133333,2.466667,1.243137e+07,5.814966e+06,1.825630e+07
std,3.286335,1.140175,1.834267e+06,1.211573e+06,2.346190e+06
min,2013.000000,1.000000,8.785943e+06,3.469826e+06,1.350752e+07
25%,2015.000000,1.000000,1.098098e+07,5.440364e+06,1.642699e+07
50%,2018.000000,2.000000,1.236290e+07,6.182149e+06,1.859276e+07
75%,2021.000000,3.000000,1.398605e+07,6.613685e+06,2.019016e+07
max,2024.000000,4.000000,1.596076e+07,7.335154e+06,2.289966e+07

### **``df_ingresos``**: Datos de ingresos generados por el servicio de telefonía móvil.

In [16]:
df_ingresos.info()
df_ingresos.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45 entries, 0 to 44
Data columns (total 4 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Año                    45 non-null     int64
 1   Trimestre              45 non-null     int64
 2   Ingresos (miles de $)  45 non-null     int64
 3   Periodo                45 non-null     object
dtypes: int64(3), object(1)
memory usage: 1.5+ KB

               Año  Trimestre  Ingresos (miles de $)
count    45.000000  45.000000           4.500000e+01
mean   2018.133333   2.466667           1.005241e+08
std       3.286335   1.140175           1.456915e+08
min    2013.000000   1.000000           1.313524e+07
25%    2015.000000   1.000000           2.476305e+07
50%    2018.000000   2.000000           4.328009e+07
75%    2021.000000   3.000000           1.047820e+08
max    2024.000000   4.000000           7.694854e+08

### **``df_penetracion``**: Información sobre la penetración del servicio en la población.

In [17]:
df_penetracion.info()
df_penetracion.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45 entries, 0 to 44
Data columns (total 4 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Año                       45 non-null     int64
 1   Trimestre                 45 non-null     int64
 2   Accesos por cada 100 hab  45 non-null     float64
 3   Periodo                   45 non-null     object
dtypes: float64(1), int64(2), object(1)
memory usage: 1.5+ KB

               Año  Trimestre  Accesos por cada 100 hab
count    45.000000  45.000000                 45.000000
mean   2018.133333   2.466667                135.953924
std       3.286335   1.140175                 10.139579
min    2013.000000   1.000000                120.180000
25%    2015.000000   1.000000                128.440000
50%    2018.000000   2.000000                133.917534
75%    2021.000000   3.000000                142.750000
max    2024.000000   4.000000                159.370000

### **``df_accesos``**: Número de accesos al servicio.

In [22]:
df_accesos.info()
df_accesos.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45 entries, 0 to 44
Data columns (total 6 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Año                          45 non-null     int64
 1   Trimestre                    45 non-null     int64
 2   Total de accesos pospago     45 non-null     float64
 3   Total de accesos prepago     45 non-null     float64
 4   Total de accesos operativos  45 non-null     int64
 5   Periodo                      45 non-null     object
dtypes: float64(2), int64(3), object(1)
memory usage: 2.2+ KB

,Año,Trimestre,Total de accesos pospago,Total de accesos prepago,Total de accesos operativos
count,45.000000,45.000000,4.500000e+01,4.500000e+01,4.500000e+01
mean,2018.133333,2.466667,7.043168e+06,5.332569e+07,6.036887e+07
std,3.286335,1.140175,8.912759e+05,2.366603e+06,3.106018e+06
min,2013.000000,1.000000,5.556299e+06,4.906016e+07,5.461989e+07
25%,2015.000000,1.000000,6.231309e+06,5.211002e+07,5.860644e+07
50%,2018.000000,2.000000,7.272585e+06,5.310204e+07,6.057180e+07
75%,2021.000000,3.000000,7.747230e+06,5.455741e+07,6.223081e+07
max,2024.000000,4.000000,8.674516e+06,5.904891e+07,6.756903e+07

---

#### **EXPORTACIÓN DE DATOS**

##### Se exportan todos los datasets relacionados con **Telefonía Móvil** a archivos CSV para integrarlos a la base de datos.

In [23]:
# Se exportan todos los DataFrames a CSV para carga en SQL

df_sms.to_csv('sms_salientes.csv', index=False)
df_llamadas_salientes.to_csv('llamadas_salientes.csv', index=False)
df_minutos_salientes.to_csv('minutos_salientes.csv', index=False)
df_ingresos.to_csv('ingresos_telefonia_movil.csv', index=False)
df_penetracion.to_csv('penetracion_telefonia_movil.csv', index=False)
df_accesos.to_csv('accesos_telefonia_movil.csv', index=False)